<%= form_for(@amandman) do |f| %>
  <% if @amandman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amandman.errors.count, "error") %> prohibited this amandman from being saved:</h2>

      <ul>
      <% @amandman.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
