// Place all the styles related to the acts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td a:hover {
  background: transparent !important;
}

a.btn:hover {
  background: transparent !important;
}

.new-act-btn {
  margin-top: 25px;
}
